body {
    background-color: #8ec5fc;
    background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}
.landing-container {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
.card-container {
    border: 1px black solid;
    border-radius: 10px;
    height: 500px;
    max-height: 500px;
    box-shadow: 10px 10px 10px black;
    background-color: white;
    padding: 20px;
    text-align: center;
}

.goto-container {
    position: fixed;
    margin-top: 50px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

// #background-video {
//     background-size: 100% 100%;
//     top: 0px;
//     left: 0px; /* fixed to left. Replace it by right if you want.*/
//     min-width: 100%;
//     min-height: 100%;
//     position: absolute;
//     z-index: 0;
// }
a {
    text-decoration: none;
    color: white;
}
