.landing-container {
    margin: 0 auto;
    width: 800px;
}
// #background-video {
//     background-size: 100% 100%;
//     top: 0px;
//     left: 0px; /* fixed to left. Replace it by right if you want.*/
//     min-width: 100%;
//     min-height: 100%;
//     position: absolute;
//     z-index: 0;
// }
a {
    text-decoration: none;
    color: white;
}
